target/
!.mvn/wrapper/maven-wrapper.jar

generated.sources/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## project
*.ini
*.log

pom.xml.releaseBackup
pom.xml.versionsBackup

release.properties
