<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CarDetails</title>
</head>
<body>

<div th:fragment="car">
    <table  th:class="table-3-5-5" >
        <tr>
            <td>
                <table th:class="table-0-2-2">
                    <tbody>
                    <tr>
                        <td th:class="w40" th:text="#{lang.numberid}"/>
                        <td th:text="${form.waggon.carid}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.owner}"/>
                        <td th:text="${form.waggon.manufactor}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.length}"/>
                        <td th:text="${form.waggon.length}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.type}"/>
                        <td th:text="#{lang. + ${form.waggon.type}}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.catalognr}"/>
                        <td th:text="${form.waggon.catalognr}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.company}"/>
                        <td th:text="${form.waggon.company}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.epoch}"/>
                        <td th:text="${form.waggon.era}"/>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>