<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CarList</title>
</head>
<body>

<div th:fragment="cars">
    <table th:class="sortable" style="text-align: left; width: 100%;" border="1" cellpadding="1" cellspacing="2">
        <thead>
        <tr>
            <td th:text="#{lang.owner}"/>
            <td th:text="#{lang.catalognr}"/>
            <td th:text="#{lang.company}"/>
            <td th:text="#{lang.type}"/>
            <td th:text="#{lang.image}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:onmouseover="'ChangeColor(this, true);'" th:onmouseout="'ChangeColor(this, false)'"
            th:onclick="'javascript:DetailGegevens(\'/' +  ${'car-'} + ${waggon.id} + '\');'"
            th:each="waggon, iterstat: ${form.waggons}">

            <td th:text="${waggon.manufactor}" th:id="|td${iterstat.index}|"/>
            <td th:text="${waggon.catalognr}" th:id="|td${iterstat.index}|"/>
            <td th:text="${waggon.company}" th:id="|td${iterstat.index}|"/>
            <td th:text="#{lang. + ${waggon.type}}" th:id="|td${iterstat.index}|"/>
            <div th:if="${!waggon.image.empty} ">
                <td th:id="|td${iterstat.index}|"><img th:src="@{/smallImage/} + ${waggon.image}"/></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>