<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DecoderDetails</title>
</head>
<script type="text/javascript" th:src="@{/js/viewFunctions.js}"></script>
<body>

<div th:fragment="decoder">
    <table th:class="table-0-2-2">
        <tbody>
        <tr>
            <td style="width: 40%;" th:text="#{lang.owner}"/>
            <td th:text="${form.decoder.manufacture}"/>
        </tr>
        <tr>
            <td th:text="#{lang.address}"/>
            <td th:text="${form.decoder.address}"/>
        </tr>
        <tr>
            <td th:text="#{lang.speed}"/>
            <td th:text="${form.decoder.speedSteps}"/>
        </tr>
        <tr>
            <td th:text="#{lang.protocol}"/>
            <td th:text="${form.decoder.protocol}"/>
        </tr>
        <div th:if="${id} == loc">
        <tr th:class="pointer"
            th:onclick="'javascript:openWindow(\'/function/'+ ${'loc-'} + ${form.locomotive.id} + '\');'">

            <td th:text="#{lang.function}"/>
            <td th:text="${form.decoder.functionCount}"/>
        </tr>
        </div>
        <div th:if="${id} == car">
            <tr th:class="pointer"
                th:onclick="'javascript:openWindow(\'/function/'+ ${'car-'} + ${form.waggon.id} + '\');'">

                <td th:text="#{lang.function}"/>
                <td th:text="${form.decoder.functionCount}"/>
            </tr>
        </div>
        <tr>
            <td th:text="#{lang.type}"/>
            <td th:text="${form.decoder.type}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>