<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DecoderDetails</title>
</head>
<body>

<div th:fragment="decoder">
    <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
        <tbody>
        <tr>
            <td style="width: 40%;" th:text="#{lang.owner}"/>
            <td th:text="${form.decoder.manufacture}"/>
        </tr>
        <tr>
            <td th:text="#{lang.address}"/>
            <td th:text="${form.decoder.address}"/>
        </tr>
        <tr>
            <td th:text="#{lang.speed}"/>
            <td th:text="${form.decoder.speedSteps}"/>
        </tr>
        <tr>
            <td th:text="#{lang.protocol}"/>
            <td th:text="${form.decoder.protocol}"/>
        </tr>
        <tr>
            <td th:text="#{lang.function}"/>
            <td th:text="${form.decoder.functionCount}"/>
        </tr>
        <tr>
            <td th:text="#{lang.type}"/>
            <td th:text="${form.decoder.type}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>