<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Image</title>
</head>

<body>

<div th:fragment="image">
    <table th:class="table-3-3-2">
        <tr>
            <td>
                <a class="thumbnail" href="#thumb">
                    <img th:src="@{/smallImage/} + ${form.image}"/>
                    <span><img th:src="@{/largeImage/} + ${form.image}" width="80%" /></span>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>