<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LocomotiveDetails</title>
</head>
<body>

<div th:fragment="locomotive">
    <table th:class="table-3-5-5">
        <tr>
            <td>
                <table th:class="table-0-2-2">
                    <tbody>
                    <tr>
                        <td th:class="w40" th:text="#{lang.baureihe}"/>
                        <td th:text="${form.locomotive.locid}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.number}"/>
                        <td th:text="${form.locomotive.number}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.owner}"/>
                        <td th:text="${form.locomotive.owner}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.length}"/>
                        <td th:text="${form.locomotive.length}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.catalognr}"/>
                        <td th:text="${form.locomotive.catalogNumber}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.company}"/>
                        <td th:text="${form.locomotive.company}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.engine}"/>
                        <td th:text="#{lang. + ${form.locomotive.engine}}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.epoch}"/>
                        <td th:text="${form.locomotive.era}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.used}"/>
                        <td th:text="#{lang. + ${form.locomotive.trainType}}"/>
                    </tr>
                    <div th:if="${!form.locomotive.operator}">
                        <tr th:class="pointer"
                            th:onclick="'javascript:openWindow(\'/operator/'+ ${'loc-'} + ${form.locomotive.id} + '\', 0,  0);'">
                            <td th:text="#{lang.operatorcfg}"/>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>