<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LocomotiveDetails</title>
</head>
<body>

<div th:fragment="locomotive">
    <table th:class="table-3-5-5">
        <tr>
            <td>
                <table th:class="table-0-2-2">
                    <tbody>
                    <tr>
                        <td th:class="w40" th:text="#{lang.baureihe}"/>
                        <td th:text="${loc.locid}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.number}"/>
                        <td th:text="${loc.number}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.owner}"/>
                        <td th:text="${loc.owner}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.length}"/>
                        <td th:text="${loc.length}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.catalognr}"/>
                        <td th:text="${loc.catalogNumber}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.company}"/>
                        <td th:text="${loc.company}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.engine}"/>
                        <td th:text="#{lang. + ${loc.engine}}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.epoch}"/>
                        <td th:text="${loc.era}"/>
                    </tr>
                    <tr>
                        <td th:text="#{lang.used}"/>
                        <td th:text="#{lang. + ${loc.trainType}}"/>
                    </tr>

                    <tr>
                        <td th:text="#{lang.tractioninfo}"/>
                        <div th:if="${loc.masterLoc == true}">
                            <td th:text="#{lang.master}"/>
                        </div>
                        <div th:if="${loc.slaveLoc == true}">
                            <td th:text="#{lang.slave}"/>
                        </div>
                        <div th:if="${loc.masterLoc == false} and ${loc.slaveLoc == false}">
                            <td th:text="#{lang.notraction}"/>
                        </div>
                    </tr>

                    <tr th:class="pointer"
                        th:onclick="'javascript:openWindow(\'/slaves/'+ ${loc.id} + '\', 0,  0);'">
                        <td th:text="#{lang.slavescfg}"/>
                    </tr>
                    <div th:if="${!loc.operator}">
                        <tr th:class="pointer"
                            th:onclick="'javascript:openWindow(\'/operator/'+ ${'loc-'} + ${loc.id} + '\', 0,  0);'">
                            <td th:text="#{lang.operatorcfg}"/>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>