<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LocomotiveDetails</title>
</head>
<body>

<div th:fragment="locomotive">
    <table style="width: 100%" border="3" cellpadding="5" cellspacing="5">
        <tr>
            <td>
                <table style="text-align: left; width: 100%;" border="0"
                       cellpadding="2" cellspacing="2">
                    <tbody>
                    <tr>
                        <td style="vertical-align: top; width: 40%;" th:text="#{lang.baureihe}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.locid}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.number}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.number}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.owner}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.owner}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.length}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.length}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.catalognr}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.catalogNumber}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.company}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.company}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.engine}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.engine}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.epoch}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.era}"/>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" th:text="#{lang.used}"/>
                        <td style="vertical-align: top;" th:text="${form.locomotive.trainType}"/>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>