<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LocomotiveList</title>
</head>
<body>

<div th:fragment="locomotives">
    <div class="scroltable">
        <table class="sortable" style="text-align: left; width: 100%;" border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr>
                <td th:text="#{lang.owner}"/>
                <td th:text="#{lang.catalognr}"/>
                <td th:text="#{lang.br}"/>
                <td th:text="#{lang.address}"/>
                <td th:text="#{lang.engine}"/>
                <td th:text="#{lang.image}"/>
            </tr>
            <tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);"
                th:onclick="'javascript:DetailGegevens(\'/' + ${'loc-'} + ${locomotive.id} + '\');'"
                th:each="locomotive, iterstat: ${form.locomotives}">
                <td th:text="${locomotive.owner}" th:id="|td${iterstat.index}|"/>
                <td th:text="${locomotive.catalogNumber}" th:id="|td${iterstat.index}|"/>
                <td th:text="${locomotive.locid}" th:id="|td${iterstat.index}|"/>
                <td th:text="${locomotive.decoder.address}" th:id="|td${iterstat.index}|"/>
                <td th:text="#{lang.+ ${locomotive.engine}}" th:id="|td${iterstat.index}|"/>
                <div th:if="${!locomotive.image.empty} ">
                    <td th:id="|td${iterstat.index}|"><img th:src="@{/image/} + ${locomotive.image}"/>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>