@CHARSET "UTF-8";

body {
	background-color: #909090;
	width: 1242px;
}

.scroltable{
	overflow-y:scroll;
	height: 400px;
	width: 100%;
	display: inline-block;
}

.scroltableA{
	overflow-y:auto;
	height:100px;
	width: 100%;
	display: inline-block;
}

.inblok {
	overflow: auto;
	width: 1240px;
	height: 150px;
	overflow-y: hidden;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}
.h3left {
	text-align: left;
}
a.cursief {
	font-style: italic
}

/*id definities */
#table-1-1-1 {
	border-color: black;
	text-align: left;
	width: 100%;
	border: 1px solid black;
	padding: 1px;
	border-spacing: 1px;
}

#table-1-2-2 {
	text-align: left;
	width: 100%;
	border: 1px ;
	cellpadding: 2px;
	cellspacing: 2px;
}

/* class definities */
.pointer {
	cursor: pointer;
	font-style: italic
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.justifyW100 {
	text-align: justify;
	width: 100%;
}

.font {
	font-size: 85%;
}

.w40 {
	width: 40%;
}

.vTopw50 {
	vertical-align: top;
	width: 50%;
}

.middleCenter {
	text-align: center;
	vertical-align: middle;
}

.w12b0 {
	width: 12%;
	border: none;
	border-spacing: 2px;
	padding: 2px;
}
.tabel-main {
	text-align: left;
	width: 100%;
	height: 634px;
	border: none;
	padding: 2px;
	border-spacing: 2px;
}

.table-nb0-0-0 {
	border: none;
	border-spacing: 0px;
	padding: 0px;
}

.table-3-5-5 {
	width: 100%;
	border-spacing: 5px;
	border: 6px darkgray;
	border-style: ridge;
	padding: 2px 10px;
}

.table-0-2-2 {
	width: 100%;
	text-align: left;
	border-spacing: 2px;
	border: 0;
	border-style: none;
	padding: 2px 10px;
}

.table-3-3-2 {
	width: 100%;
	text-align: center;
	border: 6px darkgray;
	border-style: ridge;
	padding: 3px;
	border-spacing: 2px 10px;
}

.color {
	background-color: #909090;
	width: 620px;
}