@CHARSET "UTF-8";

body.werkpagina {
	
}

fieldset.fieldset {
	
}

table.tabel {
	border-collapse: collapse;
	align: center;
}

tr.rij {
	border-bottom: 1px solid #C0C0C0;
}

td.kolom {
	float: left;
	text-align: center;
	width: 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}

td.kolom1 {
	float: left;
	width: 50px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

td.kolom2 {
	float: left;
	width: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}

td.kolom3 {
	float: left;
	width: 175px;
	padding-top: 30px;
	padding-bottom: 30px;
}

td.kolom4 {
	float: left;
	width: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
}