/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.thumbnail {
    position: inherit;
    z-index: 0;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.thumbnail span { /*CSS for enlarged image*/
    position: absolute;
    background-color: transparent;
    padding: 1px;
    left: -1000px;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
    border-width: 1px;
    padding: 1px;
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 550px;
    left: 10px; /*position where enlarged image should offset horizontally */
    /*width: auto;*/
    width: 800px;
    height: 270px;

}