@CHARSET "UTF-8";

body {
	background-color: #909090;
}

.scroltable{
	overflow-y:scroll;
	height:500px;
	width: 100%;
	display: inline-block;

}

.inblok {
	overflow: scroll;
	width: 1240px;
	height: 150px;
	overflow-y: hidden;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}
.h3left {
	text-align: left;
}
a.cursief {
	font-style: italic
}

.line {
	width:100%;
	border-bottom: 1px solid black;
	position: absolute;
}
