<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>CarDetails</title>
</head>

<body>
<div th:if="${form.waggon !=null}">
    <table th:class="tabel-main">
        <tbody>
        <tr>
            <td th:class="vTopw50"><h3 th:text="#{lang.waggon}"/>
                <div th:include="fragments/car"/>
                <table>
                    <tr>
                        <td>
                            <div th:if="${sessionform.list} == true">
                                <form method="get" action="/cars" name="DetailsCars">
                                    <button name="terug" type="submit" value="true" th:text="#{lang.back}"/>
                                </form>
                            </div>
                            <div th:if="${sessionform.search} == true">
                                <form method="get" action="/zoeken" name="DetailsLocomotieve">
                                    <button name="terug" type="submit" th:text="#{lang.back}"/>
                                </form>
                            </div>
                        </td>
                        <td>
                            <form method="post" action="/setup">
                                <button name="hoofdpagina" type="submit" value="true" th:text="#{lang.main}"/>
                            </form>
                        </td>

                    </tr>
                </table>
            </td>
            <td th:class="vTopw50">
                <table th:class="table-0-2-2">
                    <tbody>
                    <div th:if="${form.waggon.decoder} != null">
                        <tr>
                            <td><h3 th:text="#{lang.decoder}"/>
                                <table th:class="table-3-5-5">
                                    <tr>
                                        <td>
                                            <div th:include="fragments/decoder"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td><h3 th:text="#{lang.image}"/></td>
                    </tr>
                    <div th:include="fragments/image"/>
                    </tbody>
                </table>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
<div th:include="footer"/>
</body>
</html>