<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>CarDetails</title>
</head>

<body>
<div th:if="${form.car !=null}">
    <table style="text-align: left; width: 100%; height: 634px;"
           border="0" cellpadding="2" cellspacing="2">
        <tbody>
        <tr>
            <td style="vertical-align: top; width: 50%;"><h3 th:text="#{lang.car}"/>
                <div th:include="fragments/car"/>
                <table>
                     <tr>
                        <td>
                            <form method="get" action="/cars" name="DetailsCars">
                                <button name="terug" type="submit" value="true" th:text="#{lang.back}"/>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/setup">
                                <button name="hoofdpagina" type="submit" value="true" th:text="#{lang.main}"/>
                            </form>
                        </td>

                    </tr>
                </table>
            </td>
            <td style="vertical-align: top;">
                <table style="text-align: left; width: 100%;" border="0"
                       cellpadding="2" cellspacing="2">
                    <tbody>
                    <div th:if="${form.car.decoder} != null">
                        <tr>
                            <td style="vertical-align: top;"><h3 th:text="#{lang.decoder}"/>
                                <table style="width: 100%" border="3" cellpadding="5" cellspacing="5">
                                    <tr>
                                        <td>
                                            <div th:include="fragments/decoder"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td style="vertical-align: top;"><h3 th:text="#{lang.image}"/></td>
                    </tr>
                    <div th:include="fragments/image"/>
                    </tbody>
                </table>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
</body>
</html>