<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>WagenOverzicht</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
<script type="text/javascript" th:src="@{/js/sorttable.js}"/>

<body class="werkpagina">
<form method="post" action="/setup" name="setup">

    <fieldset class="fieldset">

        <table class="tabel" style="text-align: left; width: 100%;" border="0" cellpadding="2"
               cellspacing="2">
            <tbody>
            <tr>
                <td style="vertical-align: middle; text-align: center;"><h3 th:text="#{lang.caroverview}">Wagen Overzicht</h3></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <div th:include="fragments/cars"/>
                </td>
            </tr>
            <tr class="rij">
                <td style="vertical-align: top;">
                </td>
            </tr>
            <tr>
                <td><button name="terug" type="submit" value="true" th:text="#{lang.back}">terug</button></td>
            </tr>
            </tbody>
        </table>

    </fieldset>
</form>
</body>
</html>

