<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>WagenOverzicht</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
<script type="text/javascript" th:src="@{/js/sorttable.js}"/>

<body>
<form method="post" action="/setup" name="setup">

    <fieldset>
        <table th:class="table-0-2-2">
            <tbody>
            <tr>
                <td th:class="middleCenter"><h3 id="car_overview" th:text="#{lang.caroverview}"/></td>
            </tr>
            <tr>
                <td>
                    <div th:class="scroltable400" th:include="fragments/cars"/>
                </td>
            </tr>
            <tr>
                <td><button name="terug" type="submit" value="true" th:text="#{lang.back}"/></td>
            </tr>
            </tbody>
        </table>

    </fieldset>
    <div th:include="footer"/>
</form>
</body>
</html>

