<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/title.css" type="text/css"/>
    <link rel="stylesheet" href="css/menu.css" type="text/css"/>
    <link rel="stylesheet" href="css/overzichtloc.css" type="text/css"/>
    <title>Materieel overzicht</title>

<body>
<table align="center" style="text-align: left; width: 100%;" border="0" cellpadding="0"
       cellspacing="2">
    <tr>
        <td><img th:src="@{images/electricl.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/diesell.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/steaml.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/trainl.gif}" width="130" height="55"/></td>
        <td><h1 th:text="#{lang.title1}">Overzicht</h1>
            <a class="cursief" ><h1 th:text="#{lang.title2}">Materieel</h1></a>
        </td>
        <td><img th:src="@{images/trainr.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/steamr.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/dieselr.gif}" width="130" height="55"/></td>
        <td><img th:src="@{images/electricr.gif}" width="130" height="55"/></td>
    </tr>
</table>

<table align="center" style="text-align: left; width: 100%;" border="0" cellpadding="0"
       cellspacing="2">
    <tr>
        <td><img th:src="@{images/digir.png}" with="400" height="20"/></td>
        <td><h3 th:text="#{lang.subtitle}">Overzicht van digitale locomotieven, treinstellen en wagons</h3></td>
        <td><img th:src="@{images/digil.png}" with="400" height="20"/></td>
    </tr>
</table>
<table align="center" style="text-align: left; width: 100%;" border="0" cellpadding="2"
       cellspacing="2">
    <tr>
        <td align="left" th:text="${form.header.version}"/>
        <td align="right" th:text="${form.header.date}"/>
    </tr>
</table>
<div class="line"/>

</body>
</head>
</html>