<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ListSearch</title>
</head>
<body>

<fieldset>
    <form method="post" action="/keuze">
        <table style="text-align: center; width: 100%;" border="0" cellpadding="2"
               cellspacing="2">
            <tr>
                <td style="text-align: left;"><input type="submit" name="loc" th:value="#{lang.locoverview}"/></td>
                <td style="text-align: center;"><input type="submit" name="car" th:value="#{lang.caroverview}"/>
                </td>
                <td style="text-align: right;"><input type="submit" name="train" th:value="#{lang.trainoverview}"/>
                </td>
            </tr>
        </table>
    </form>
</fieldset>

<fieldset>
    <form method="get" action="/zoeken">
        <h3 class="h3left" th:text="#{lang.search}">Zoeken</h3>
        <table style="text-align: center; width: 50%;" border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td style="text-align: left;" th:text="#{lang.searchowner}"/>
                <td><input type="text" id="owner" name="owner" size="40"/></td>
            </tr>
            <tr>
                <td style="text-align: left;" th:text="#{lang.searchcatalog}"/>
                <td><input type="text" id="catalog" name="catalog" size="40"/></td>
            </tr>
            <tr>
                <td style="text-align: left;" th:text="#{lang.searchdcc}"/>
                <td><input type="text" id="dcc" name="dcc" size="40"/></td>
            </tr>
            <tr>
                <td style="text-align: left;" th:text="#{lang.searchbr}"/>
                <td><input type="text" id="br" name="br" size="40"/></td>
            </tr>
        </table>
        <input type="submit" th:value="#{lang.search}" name="zoek"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form>
</fieldset>

<script type="text/javascript" th:src="@{/js/inputToggle.js}"/>

</body>
</html>