<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ListSearch</title>
</head>
<body>

<fieldset>
    <form method="post" action="/keuze">
        <table th:class="table-0-2-2">
            <tr>
                <td th:class="left"><input type="submit" name="loc" th:value="#{lang.locoverview}"/></td>
                <td th:class="center"><input type="submit" name="car" th:value="#{lang.caroverview}"/></td>
                <td th:class="right"><input type="submit" name="train" th:value="#{lang.trainoverview}"/></td>
            </tr>
        </table>
    </form>
</fieldset>

<fieldset>
    <form method="get" action="/zoeken">
        <table th:class="justifyW100">
            <tr>
                <td><h3 class="h3left" th:text="#{lang.search}"/></td>
                <td><h3 class="h3left" th:text="#{lang.setup}"/></td>
            </tr>
            <tr>
                <td>
                    <table th:class="table-0-2-2">
                        <tr>
                            <td th:text="#{lang.searchowner}"/>
                            <td><input type="text" id="owner" name="owner" size="40"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{lang.searchcatalog}"/>
                            <td><input type="text" id="catalog" name="catalog" size="40"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{lang.searchdcc}"/>
                            <td><input type="text" id="dcc" name="dcc" size="40"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{lang.searchbr}"/>
                            <td><input type="text" id="br" name="br" size="40"/></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table th:class="table-0-2-2">
                        <tr>
                            <td th:text="#{lang.paths}"/>
                            <td th:text="${xmlpath}"/>
                        </tr>
                        <tr>
                            <td/>
                            <td th:text="${imagepath}"/>
                        </tr>
                        <br/>
                        <tr>
                            <td th:text="#{lang.selectlang}"/>
                            <td th:text="#{lang. + ${local}}"/>
                        </tr>
                        <tr>
                            <td th:text="#{lang.build}"/>
                            <td th:text="#{lang.rocrail}"/>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input type="submit" th:value="#{lang.search}" name="zoek"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form>
</fieldset>

<script type="text/javascript" th:src="@{/js/inputToggle.js}"/>

</body>
</html>