<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>LocDetails</title>
</head>

<body>
<form method="get" action="/locs" name="DetailsLocomotieve">
    <br/>
    <table style="text-align: left; width: 100%; height: 634px;"
           border="0" cellpadding="2" cellspacing="2">
        <tbody>
        <tr>
            <td style="vertical-align: top; width: 50%;">Locomotief<br/>
                <table style="text-align: left; width: 100%;" border="0"
                       cellpadding="2" cellspacing="2">
                    <tbody>
                    <tr>
                        <td style="vertical-align: top; width: 40%;">BauReihe<br/></td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.id}"/>

                    </tr>

                    <tr>
                        <td style="vertical-align: top;">Nummer<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.number}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Fabrikant<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.owner}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Lengte<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.length}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Catalogus Nr.<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.catalogNumber}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Maatschappij<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.company}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Aandrijving<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.engine}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Periode<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.era}"/>

                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Inzet<br/>
                        </td>
                        <td style="vertical-align: top;" th:text="${form.locomotive.trainType}"/>

                    </tr>

                    </tbody>
                </table>
                <br/>
            </td>
            <td style="vertical-align: top;">
                <table style="text-align: left; width: 100%;" border="0"
                       cellpadding="2" cellspacing="2">
                    <tbody>
                    <tr>
                        <td style="vertical-align: top;">Decoder<br/>
                            <table style="text-align: left; width: 100%;" border="1"
                                   cellpadding="2" cellspacing="2">
                                <tbody>
                                <tr>
                                    <td style="vertical-align: top; width: 40%;">Fabrikant<br/>
                                    </td>
                                    <td style="vertical-align: top;" th:text="${form.locomotive.decoder.manufacture}"/>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Adres<br/>
                                    </td>
                                    <td style="vertical-align: top;" th:text="${form.locomotive.decoder.address}"/>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Rijstappe<br/>
                                    </td>
                                    <td style="vertical-align: top;" th:text="${form.locomotive.decoder.speedSteps}"/>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Protocol<br/>
                                    </td>
                                    <td style="vertical-align: top;" th:text="${form.locomotive.decoder.protocol}"/>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Aantal functies<br/>
                                    </td>
                                    <td style="vertical-align: top;"
                                        th:text="${form.locomotive.decoder.functionCount}"/>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Type<br/>
                                    </td>
                                    <td style="vertical-align: top;" th:text="${form.locomotive.decoder.type}"/>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">Afbeelding<br/>
                        </td>
                    </tr>
                    <table style="text-align: center; width: 100%;" border="3"
                           cellpadding="2" cellspacing="2">
                        <tr>
                            <td>
                                <img th:src="@{/image/} + ${form.locomotive.image}" height="60%" width="60%"/>
                            </td>
                        </tr>
                    </table>
                    </tbody>
                </table>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <input type="submit" value="terug"/>
</form>
</body>

</html>