<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<fieldset>
    <table>
        <tr>
            <th>Loc Id</th>
            <th>Loc Nummer</th>
            <th>Aandrijving</th>
        </tr>
        <tr th:each="locomotief, iterstat: ${lijst}">
            <td th:text="${locomotief.id}" th:id="|td${iterstat.index}|"></td>
            <td th:text="${locomotief.number}" th:id="|td${iterstat.index}|"></td>
            <td th:text="${locomotief.aandrjving}" th:id="|td${iterstat.index}|"></td>

        </tr>
    </table>
</fieldset>
</body>
</html>