<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
    <title>Operator Overzicht</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>

<body>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tbody>
    <tr>
        <td style="vertical-align: top;">Type nr.</td>
        <td style="vertical-align: top;">Maatschappij</td>
    </tr>

    <tr onmouseover="ChangeColor(this, true);"
        onmouseout="ChangeColor(this, false);"
        th:onclick="'javascript:DetailGegevens(\'/detail/operator/' + ${operator.id} + '\');'"
            th:each="operator : ${list}">
        <td style="vertical-align: top;" th:text="${operator.id}"/>
        <td style="vertical-align: top;" th:text="${operator.locId}"/>
        <td style="vertical-align: top;">Wagen(s)
            <table style="text-align: left; width: 100%;" border="1"
                   cellpadding="2" cellspacing="2">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">Type nr.</td>
                    <td style="vertical-align: top;">Maatschappij</td>
                </tr>
                <tr th:each="cars:${operator.cars}">
                    <div th:each="car:${cars}">
                        <td style="vertical-align: top;" th:text="${car.id}"/>
                        <td style="vertical-align: top;" th:text="${car.company}"/>
                    </div>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

