<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
    <title>Operator Overzicht</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
<script type="text/javascript" th:src="@{/js/sorttable.js}"/>

<body>
<form method="post" action="/setup" name="setup">
    <fieldset>
        <table th:class="table-0-2-2">
            <tbody>
            <tr>
                <td th:class="middleCenter"><h3 id="opr_overview" th:text="#{lang.trainoverview}"/></td>
            </tr>
            <tr>
                <td>
                    <div th:class="scroltable400">
                        <table class="sortable" style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
                            <tbody>
                            <tr>
                                <td th:text="#{lang.train}"/>
                                <td th:text="#{lang.loc}"/>
                            </tr>
                            <tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);"
                                th:onclick="'javascript:DetailGegevens(\'/' + ${'opr-'} + ${iterstat.index} + '\');' "
                                th:each="operatorTrain, iterstat: ${form.operatorTrains}">

                                <td th:text="${operatorTrain.id}"/>
                                <td th:text="${operatorTrain.locId}"/>
                                <td><span th:text="#{lang.traction}"/>
                                    <div th:class="scroltable100">
                                        <table style="text-align: left; width: 100%;" border="1"
                                               cellpadding="2" cellspacing="2">
                                            <tbody>
                                            <tr>
                                                <td th:text="#{lang.locomotive}"/>
                                                <td th:text="#{lang.company}"/>
                                            </tr>
                                            <div th:each="loc:${operatorTrain.masterloc}">
                                                <div th:if="${!loc.slaveLocList.empty}">
                                                    <tr th:each="slaves: ${loc.slaveLocList}">
                                                        <div th:each="slave:${slaves}">
                                                            <td th:text="${slave.locid}"/>
                                                            <td th:text="${slave.company}"/>
                                                        </div>
                                                    </tr>
                                                </div>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>

                                <td><span th:text="#{lang.waggons}"/>
                                    <div th:class="scroltable100">
                                        <table style="text-align: left; width: 100%;" border="1"
                                               cellpadding="2" cellspacing="2">
                                            <tbody>
                                            <tr>
                                                <td th:text="#{lang.typenr}"/>
                                                <td th:text="#{lang.company}"/>
                                            </tr>
                                            <tr th:each="waggons:${operatorTrain.waggons}">
                                                <div th:each="waggon:${waggons}">
                                                    <td th:text="${waggon.carid}"/>
                                                    <td th:text="${waggon.company}"/>
                                                </div>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button name="terug" type="submit" value="true" th:text="#{lang.back}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div th:include="footer"/>
</form>
</body>
</html>

