<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta charset="UTF-8"/>
    <title>OperatorDetails</title>
</head>
<body>

<fieldset>
    <table th:class="tabel-main">
        <tbody>
        <tr>
            <td><h3 th:text="${form.operatorTrain.id}"/></td>
        </tr>
        <tr>
            <td>
                <div th:if="${form.operatorTrain.masterloc.id !=null}">
                    <div th:if="${form.operatorTrain.masterloc.slaveLoc == true}"
                         th:with="loc=${form.operatorTrain.slaveloc}">
                        <table th:class="table-0-2-2">
                            <tbody>
                            <tr th:class="vTopw50">
                                <td><h3 th:text="#{lang.loc}"/><br/>
                                    <div th:include="fragments/locomotive"/>
                                </td>
                                <td><h3 th:text="#{lang.decoder}"/><br/>
                                    <table th:class="table-3-5-5">
                                        <tr>
                                            <td>
                                                <div th:include="fragments/decoder"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${form.operatorTrain.masterloc.masterLoc == true}
                                   or (${form.operatorTrain.masterloc.masterLoc == false}
                                          and ${form.operatorTrain.masterloc.slaveLoc == false})"
                         th:with="loc=${form.operatorTrain.masterloc}">
                        <table th:class="table-0-2-2">
                            <tbody>
                            <tr th:class="vTopw50">
                                <td><h3 th:text="#{lang.loc}"/><br/>
                                    <div th:include="fragments/locomotive"/>
                                </td>
                                <td><h3 th:text="#{lang.decoder}"/><br/>
                                    <table th:class="table-3-5-5">
                                        <tr>
                                            <td>
                                                <div th:include="fragments/decoder"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <table th:class="w12b0">
                    <tbody>
                    <tr>
                        <td th:text="#{lang.length}"/>
                        <td th:text="${form.operatorTrain.length}"/>
                    </tr>
                    </tbody>
                </table>
                <div class="inblok">
                    <table th:class="table-nb0-0-0">
                        <tr>
                            <div th:if="${form.operatorTrain.masterloc.id !=null}">
                                <td><img th:src="@{/smallImage/} + ${form.operatorTrain.masterloc.image}"
                                         align="center"/>
                                </td>
                                <div th:if="${!form.operatorTrain.masterloc.slaveLocList.empty}">
                                    <div th:each="slave, iterstat: ${form.operatorTrain.masterloc.slaveLocList}">
                                        <td th:id="|td${iterstat.index}|">
                                            <img th:src="@{/smallImage/} + ${slave.image}" align="center"/>
                                        </td>
                                    </div>
                                </div>
                            </div>
                            <div th:each="waggon, iterstat: ${form.operatorTrain.waggons}">
                                <td th:id="|td${iterstat.index}|"><img th:src="@{/smallImage/} + ${waggon.image}"
                                                                       align="center"/></td>
                            </div>
                        </tr>
                        <tr>
                            <div th:if="${form.operatorTrain.masterloc.id !=null}">
                                <td class="font" border="1" th:text="${form.operatorTrain.masterloc.locid}"
                                    align="center"/>
                                <div th:if="${!form.operatorTrain.masterloc.slaveLocList.empty}">
                                    <div th:each="slave, iterstat: ${form.operatorTrain.masterloc.slaveLocList}">
                                        <td class="font" border="1" th:text="${slave.locid}" align="center"/>
                                    </div>
                                </div>
                            </div>
                            <div th:each="waggon, iterstat: ${form.operatorTrain.waggons}">
                                <td class="font" border="1" th:text="${waggon.carid}" align="center"/>
                            </div>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <form method="get" action="/operators">
                    <button name="terug" type="submit" value="true" th:text="#{lang.back}"/>
                </form>
            </td>
            <td>
                <form method="post" action="/setup">
                    <button name="hoofdpagina" type="submit" value="true" th:text="#{lang.main}"/>
                </form>
            </td>
        </tr>
    </table>
</fieldset>
<div th:include="footer"/>

</body>
</html>