<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/material.css}" type="text/css"/>
    <title th:text="#{lang.trainoverview}"/>
</head>

<body onload="window.resizeTo(1240,350)" style="background-color: #909090;">
<h3 th:text="#{lang.operatorcfg}"/>

<fieldset style="width: auto; height: auto;">
    <div th:if="${form.operatorTrain != null}">
            <table th:class="table-nb0-0-0">
                <tr>
                    <div th:if="${form.operatorTrain.masterloc.id !=null}">
                        <td>
                            <img th:src="@{/smallImage/} + ${form.operatorTrain.masterloc.image}"/>
                        </td>
                        <div th:if="${!form.operatorTrain.masterloc.slaveLocList.empty}">
                            <div th:each="slave, iterstat: ${form.operatorTrain.masterloc.slaveLocList}">
                                <td th:id="|td${iterstat.index}|">
                                    <img th:src="@{/smallImage/} + ${slave.image}"/>
                                </td>
                            </div>
                        </div>
                    </div>
                    <div th:each="waggon, iterstat: ${form.operatorTrain.waggons}">
                        <td th:id="|td${iterstat.index}|">
                            <img th:src="@{/smallImage/} + ${waggon.image}"/>
                        </td>
                    </div>
                </tr>

                <tr>
                    <div th:if="${form.operatorTrain.masterloc.id !=null}">
                        <td class="font" border="1" th:text="${form.operatorTrain.masterloc.locid}"/>
                        <div th:if="${!form.operatorTrain.masterloc.slaveLocList.empty}">
                            <div th:each="slave, iterstat: ${form.operatorTrain.masterloc.slaveLocList}">
                                <td style="font-size: 85%" border="1" th:text="${slave.locid}"/>
                            </div>
                        </div>
                    </div>
                    <div th:each="waggon, iterstat: ${form.operatorTrain.waggons}">
                        <td style="font-size: 85%" border="1" th:text="${waggon.carid}"/>
                    </div>
                </tr>
            </table>
    </div>
    <div th:if="${form.operatorTrain == null}">
        <span th:class="center" th:text="#{lang.no-operator}" />
    </div>

    <table align="center" width="auto" th:border="0" cellpadding="2" cellspacing="3">
        <tr>
            <td>
                <button onclick="window.close()" type="submit" th:text="#{lang.close}"/>
            </td>
        </tr>
    </table>
</fieldset>
</body>

</html>