<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<fieldset class="fieldset">
    <table style="width: 1200px%" border="1">
        <tbody>
        <tr>
            <td>
                <div th:if="${form.operator.locomotive !=null}">
                    <table style="width: 100%" border="1" cellpadding="2" cellspacing="5">
                        <tbody>
                        <tr>

                            <td style="vertical-align: top; width: 50%;"><h3 th:text="#{lang.loc}">Locomotief</h3><br/>
                                <table style="width: 100%" border="1" cellpadding="5" cellspacing="5">
                                    <tr>
                                        <td>

                                            <table style="text-align: left; width: 100%;" border="0"
                                                   cellpadding="2" cellspacing="2">
                                                <tbody>
                                                <tr>
                                                    <td style="vertical-align: top; width: 40%;" th:text="#{lang.baureihe}">BauReihe<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.id}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.number}">Nummer<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.number}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.owner}">Fabrikant<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.owner}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.length}">Lengte<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.length}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.catalognr}">Catalogus Nr.<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.catalogNumber}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.company}">Maatschappij<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.company}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.engine}">Aandrijving<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.engine}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.epoch}">Periode<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.era}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.used}">Inzet<br/></td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.trainType}"/>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>


                            <td style="vertical-align: top;"><h3 th:text="#{lang.decoder}">Decoder</h3><br/>
                                <table style="width: 100%" border="1" cellpadding="5" cellspacing="5">
                                    <tr>
                                        <td>
                                            <table style="text-align: left; width: 100%;" border="0"
                                                   cellpadding="2" cellspacing="2">
                                                <tbody>
                                                <tr>
                                                    <td style="vertical-align: top; width: 40%;" th:text="#{lang.owner}">Fabrikant<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.manufacture}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.address}">Adres<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.address}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.speed}">Rijstappe<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.speedSteps}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.protocol}">Protocol<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.protocol}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.function}">Aantal functies<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.functionCount}"/>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;" th:text="#{lang.type}">Type<br/>
                                                    </td>
                                                    <td style="vertical-align: top;"
                                                        th:text="${form.operator.locomotive.decoder.type}"/>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table style="width: 100%" border="1">
                    <tbody>
                    <tr>
                        <td th:text="#{lang.train}">Stam</td>
                    </tr>
                    </tbody>
                </table>
                <table style="width: 12%" border="0">
                    <tbody>
                    <tr>
                        <td th:text="#{lang.length}">lengte</td>
                        <td th:text="${form.operator.length}"/>
                    </tr>
                    </tbody>
                </table>
                <div class="inblok">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <div th:if="${form.operator.locomotive !=null}">
                                <td><img th:src="@{/image/} + ${form.operator.locomotive.image}" align="center"/>
                                </td>
                                <div th:if="${!form.operator.locomotive.slaveLocList.empty}">
                                    <div th:each="slave, iterstat: ${form.operator.locomotive.slaveLocList}">
                                        <td th:id="|td${iterstat.index}|">
                                            <img th:src="@{/image/} + ${slave.image}" align="center"/>
                                        </td>
                                    </div>
                                </div>
                            </div>
                            <div th:each="car, iterstat: ${form.operator.cars}">
                                <td th:id="|td${iterstat.index}|"><img th:src="@{/image/} + ${car.image}"
                                                                       align="center"/></td>
                            </div>
                        </tr>
                        <tr>
                            <div th:if="${form.operator.locomotive !=null}">
                                <td class="font" border="1" th:text="${form.operator.locomotive.id}"
                                    align="center"/>
                                <div th:if="${!form.operator.locomotive.slaveLocList.empty}">
                                    <div th:each="slave, iterstat: ${form.operator.locomotive.slaveLocList}">
                                        <td class="font" border="1" th:text="${slave.id}" align="center"/>
                                    </div>
                                </div>
                            </div>
                            <div th:each="car, iterstat: ${form.operator.cars}">
                                <td class="font" border="1" th:text="${car.id}" align="center"/>
                            </div>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr class="rij">
            <td style="vertical-align: top;">
            </td>
        </tr>
        <tr>
            <td>
                <form method="get" action="/operators">
                    <button name="terug" type="submit" value="true" th:text="#{lang.back}">terug</button>
                </form>
            </td>
            <td>
                <form method="post" action="/setup">
                    <button name="hoofdpagina" type="submit" value="true" th:text="#{lang.main}">hoofpagina</button>
                </form>
            </td>

        </tr>
    </table>
</fieldset>

</body>
</html>