<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type"/>
    <title>SearchOverview</title>
</head>

<script type="text/javascript" th:src="@{/js/viewFunctions.js}"/>
<script type="text/javascript" th:src="@{/js/sorttable.js}"/>

<body>

<fieldset class="fieldset">
    <div th:if="${!form.locomotives.empty}">
        <table th:class="table-0-2-2">
            <tbody>
            <tr>
                <td th:class="middleCenter"><h3 th:text="#{lang.locoverview}"/></td>
            </tr>
            <tr>
                <td>
                    <div th:class="scroltable200" th:include="fragments/locomotives"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${!form.waggons.empty}">
        <table th:class="table-0-2-2">
            <tbody>
            <tr>
                <td th:class="middleCenter"><h3 th:text="#{lang.caroverview}"/></td>
            </tr>
            <tr>
                <td>
                    <div th:class="scroltable200" th:include="fragments/cars"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <table th:class="table-0-2-2">
        <tbody>
        <tr>
            <td>
                <form method="post" action="/setup" name="setup">
                    <button name="terug" type="submit" th:text="#{lang.back}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>
<div th:include="footer"/>
</body>
</html>

