<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
    <meta charset="UTF-8"/>
    <title>SetupView</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"/>
<script type="text/javascript" th:src="@{/js/languageSelect.js}"/>

<body>
<div th:if="${gevuld} != true">
    <form method="post" action="/setup">
        <fieldset class="fieldset">
            <span th:text="#{lang.change}"></span>:
            <select id="locales">
                <option value="" th:text="#{lang.select}"></option>
                <option name="en" value="en" th:text="#{lang.en}"></option>
                <option name="nl" value="nl" th:text="#{lang.nl}"></option>
            </select>
            <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
                <tbody>
                <tr>
                    <td style="vertical-align: top;"><h3 class="h3left" th:text="#{lang.nwsetup}">Nieuwe
                        Instellingen</h3>
                        <table style="text-align: left; width: 75%;" border="0" cellpadding="2" cellspacing="2">
                            <tbody>
                            <tr>
                                <td th:text="#{lang.xmllocation}"/>
                                <td><input type="text" name="padxml"/></td>
                            </tr>
                            <tr>
                                <td th:text="#{lang.imagelocation}"/>
                                <td><input type="text" name="padafbeelding"/></td>
                            </tr>
                            </tbody>
                        </table>

                    </td>

                    <td><h3 class="h3left" th:text="#{lang.odsetup}"/>
                        <table style="text-align: left; width: 100%;" border="0" cellpadding="5" cellspacing="5">
                            <tbody>
                            <tr>
                                <td th:text="${xmlpath}"/>
                            </tr>
                            <tr>
                                <td th:text="${imagepath}"/>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" th:value="#{lang.continuebutton}"/></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

<div th:if="${gevuld} == true">
    <div th:include="listSearch"/>
</div>

<div th:include="footer"/>
</body>
</html>