<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TractionDetails</title>
</head>
<body onload="window.resizeTo(1240,350)" style="background-color: #909090;">
<h3 style="text-align: center" th:text="#{lang.slavescfg}"/>

<fieldset>

    <div th:if="${!form.locomotive.slaveLocList.empty}">
        <div class="inblok">
            <table th:class="table-nb0-0-0">
                <tr>
                    <td><img th:src="@{/image/} + ${form.locomotive.image}"
                             align="center"/></td>

                    <div th:each="loc, iterstat: ${form.locomotive.slaveLocList}">
                        <td th:id="|td${iterstat.index}|"><img th:src="@{/image/} + ${loc.image}"
                                                               align="center"/></td>
                    </div>
                </tr>
            </table>
            <table th:class="table-nb0-0-0">
                <tr>
                    <td class="font" border="1" th:text="${form.locomotive.locid}"
                        align="center"/>
                    <td>,&nbsp;</td>

                    <div th:each="loc, iterstat: ${form.locomotive.slaveLocList}">
                        <td style="font-size: 85%" border="1" th:text="${loc.locid}" align="center"/>
                        <td>,&nbsp;</td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${form.locomotive.slaveLocList.empty}">
        <span th:class="center" th:text="#{lang.no-slave}" />
    </div>

    <table align="center" width="auto" th:border="0" cellpadding="2" cellspacing="3">
        <tr>
            <td>
                <button onclick="window.close()" type="submit" th:text="#{lang.close}"/>
            </td>
        </tr>
    </table>

</fieldset>


</body>
</html>